snippet fn "function"
function ${1:name}(${2:args}) {
	return $2${VISUAL}$0
};
endsnippet

snippet afn "arrow function"
let ${1:name} = (${2:args}) => $2${VISUAL}$0
endsnippet

snippet sect "section"
//------------ ${1:section_name} ------------//
$0
endsnippet
